echo "__pycache__/" > .gitignore
echo "*.pyc" >> .gitignore
echo "db.sqlite3" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "postgres_data/" >> .gitignore
echo "static_data/" >> .gitignore
echo "media/" >> .gitignore
echo "*.jpg" >> .gitignore
echo "*.jpeg" >> .gitignore
echo "*.png" >> .gitignore
