version: '3.8'

services:
  web:
    build: .
    # HTTPS Development Command (RunServerPlus with SSL)
    command: ["python", "manage.py", "runserver_plus", "--cert-file", "cert.crt", "0.0.0.0:8000"]
    
    # OLD COMMAND (Standard HTTP)
    # command: ["python", "manage.py", "runserver", "0.0.0.0:8080"]
    
    ports:
      - "8000:8000"

    volumes:
      - .:/app
      - static_data:/app/bookmarks/staticfiles/
    depends_on:
      - db
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db

  # You can leave Nginx here, but we are bypassing it for now
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_data:/app/staticfiles/
    depends_on:
      - web

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

volumes:
  static_data:
  postgres_data: