Django
psycopg2-binary
Pillow
gunicorn
django-taggit
django-cors-headers
requests
social-auth-app-django
django-extensions
werkzeug
pyOpenSSL
python-decouple
easy-thumbnails
django-debug-toolbar
redis